@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

* {
    margin: auto;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
	background-image: url('../grafiki/tlo_bez_logo.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

	width: 100vw;
	height: 100vh;
}

.wi{
	width: 36vw;
	height: auto;
	float:left;
	background: transparent; 
	margin-top: 2vh;
	border-radius: 50px;
	box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
}

.wi1 {
	margin-left: 9vw;
	margin-right: 5vw;
}

.wi2 {
	margin-left: 5vw;
	margin-right: 9vw;
}

.content{
	text-align: center;
}

img {
	margin-top: 4vh;
	width: 30vw;
	height: auto;
	border-radius: 50px;
}

.budynek {
	border: 3px solid #001FCA;
}

#mapWI1 {
	margin-left: 3vw;
	margin-bottom: 3vh;
	width: 30vw;
	height: 35vh;
	border: 3px solid #00C26B;
}

#mapWI2 {
	margin-left: 3vw;
	margin-bottom: 3vh;
	width: 30vw;
	height: 35vh;
	border: 3px solid #00C26B;
}

a {
	text-decoration: none;
}

p {
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-family: 'Poppins';
	font-size: 1.4vw;
	font-weight: 600;
	text-transform: uppercase;
	color: #292929;
}