* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
	width: 100vw;
	height: 100vh;
}

#menuMapLeft{
    float:left;
    width: 45%;
}
#menuMapRight{
    float:right;
    width: 45%;
}
#mapWI1{
	float:right;
    width: 800px;
    height: 500px;
}
#picture_descryptionWI1{
	float:right;
	width:80%;
}
#div_pictureWI1{
	float:right;
	width:60%;
	height: 400px;
}
#pictureWI1{
	float:right;
	width:100%;
	height: 400px;
}
#descriptionWI1{
	float:left;
	width:30%;
	height: 400px;
	text-align:left;
	font-size:30px;
}
#mapWI2{
	float:left;
    width: 80%;
    height: 500px;
}
#picture_descryptionWI2{
	float:left;
	width:80%;
}
#div_pictureWI2{
	float:left;
	width:60%;
	height: 400px;
}
#pictureWI2{
	float:left;
	width:100%;
	height: 400px;
}
#descriptionWI2{
	
	float:right;
	width:30%;
	height: 400px;
	text-align:right;
	font-size:30px;
}