@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #efecff;
    font-family: 'Poppins', sans-serif;
}


/* Container for radio buttons */
.wybor {
    color: rgb(0, 0, 0);
    background-color: rgba(31, 65, 255, 0.277); 
    border: 2px solid rgba(31, 65, 255, 0.8);
    margin: 2vh 35vw;
    font-size: 2vw;
    border-radius: 50px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
    th, td {
        padding: 4px;
        font-size: 12px;
    }
}
    
    /* Selected radio button */
    .wybor input[type="radio"]:checked::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2200ff;
    }
    
    /* Radio button labels */
    .wybor label {
    font-size: 1.2em;
    margin: 0 10px;
    }


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.lista {
    display: inline-block;
    //text-align: left;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}

#roomList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#roomList form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#roomList form label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

#employeeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#employeeList form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#employeeList form label {
    font-size: 1.2em;
    margin-bottom: 5px;
}