@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', 'sans-serif';
}

.wrapper {  
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

